@media (320px <= width) {
  /*clouds that are not part of mobile and tablet view*/
  .cloud-desktop {
    display: none;
  }
  .hero-section-container {
    height: fit-content;
    margin-bottom: 9.5388471178vw;
  }
  .hero-section-cta {
    width: fit-content;
    margin: 0 auto;
  }
  /*The minimum mobile screen width being targeted is 320px*/
  /*The maximum mobile screen width is 440px*/
  .hero-section-cta h1,
  .hero-section-cta h1 span {
    /*Elements from the hero banner are sized and positioned
    proportionately to the viewport as they are simply visual elements.*/
    font-size: 11.2781954887vw;
    line-height: 15.5187969925vw;
  }
  .hero-section-cta h1 {
    font-family: "Inter";
    font-weight: 800;
    color: var(--main-color);
    width: 92.7318295739vw;
  }
  .hero-section-cta h1 span,
  .closing-section-container h2 span {
    font-family: "Lily Script One";
    font-weight: 400;
    color: rgba(0, 0, 0, 0);
    background-image: var(--secondary-color);
    background-clip: text;
  }
  .hero-section-cta p {
    font-family: Inter;
    color: var(--main-color-deemphasize);
    font-weight: 500;
    font-size: clamp(16px, 4.0100250627vw, 19.25px);
    line-height: 6.015037594vw;
    width: 90.4761904762vw;
    margin: 18px 0;
  }
  .cta-button {
    border-color: rgba(0, 0, 0, 0);
    background-image: var(--secondary-color);
    font-family: "Inter";
    font-weight: 700;
    color: var(--white);
  }
  .hero-section-cta .cta-button {
    border-radius: 7.5187969925vw;
    width: 60.6516290727vw;
    height: 12.7819548872vw;
    font-size: 4.5112781955vw;
  }
  .hero-section-info {
    margin-top: 32px;
    position: relative;
    height: 105.4887218045vw;
    overflow-x: clip;
  }
  .hero-section-cloud-3 {
    width: 133.8345864662vw;
    /*The below values are obtained manually by using the browser inspector to place the elements*/
    top: -12.3vw;
    left: -14.1vw;
    transform: scale(-1, 1);
    z-index: 2;
  }
  .hero-section-cloud-1 {
    width: 87.7192982456vw;
    height: 66.4160401003vw;
    top: 41.1027568922vw;
    left: 12.5313283208vw;
    z-index: 3;
  }
  /*displayed on tablet and desktop*/
  .hero-section-cloud-2-1 {
    display: none;
  }
  .hero-section-cloud-2 {
    transform: scale(-1, 1);
    width: 66.9172932331vw;
    height: 43.35839599vw;
    top: 82.7067669173vw;
    left: -29.3233082707vw;
    z-index: 2;
  }
  .hero-section-info * {
    position: absolute;
  }
  /*text in hero-section-info will be sized responsively,
  as the text serves more of a decorative role.*/
  .hero-text-container {
    font-family: Inter;
    color: var(--main-color);
    border: 1.1px solid rgb(73, 149, 255);
    /* padding: 5.52px; */
    padding: 1.3834586466vw;
  }
  .hero-section-info :nth-child(1 of .hero-text-container) {
    top: 12.2807017544vw;
    right: 4.0100250627vw;
    font-size: 4.4285714286vw;
    font-weight: 600;
    line-height: 5.3609022556vw;
    z-index: 3;
  }
  .hero-section-info :nth-child(2 of .hero-text-container) {
    top: 33.3333333333vw;
    left: 4.0100250627vw;
    font-size: 5.3634085213vw;
    font-weight: 600;
    line-height: 6.4912280702vw;
    z-index: 3;
  }
  .hero-section-info :nth-child(3 of .hero-text-container) {
    /*needs to be defined due to nested span element*/
    width: 34.4110275689vw;
    height: 4.8370927318vw;
    top: 71.4285714286vw;
    right: 4.0100250627vw;
    font-size: 4.1428571429vw;
    font-weight: 600;
    line-height: 5.0125313283vw;
    z-index: 5;
  }
  .hero-section-info :nth-child(3 of .hero-text-container) span {
    margin-left: 1.0025062657vw;
    font-size: 4.1428571429vw;
    font-weight: 800;
    line-height: 5.0125313283vw;
    background-image: var(--secondary-color);
    color: rgba(0, 0, 0, 0);
    background-clip: text;
  }
  .hero-section-info .border-corner {
    width: 2.2155388471vw;
    height: 2.2155388471vw;
    background-color: rgb(142, 206, 245);
    border: 0.55px solid rgb(73, 149, 255);
    position: absolute;
    z-index: 4;
  }
  /*positioning the .border-corner elements*/
  /*The .broder-corner sides are 8.84px.
  8.84px/2 = 4.42px*/
  .hero-section-info .border-corner:nth-child(1) {
    top: -1.1077694236vw;
    left: -1.1077694236vw;
  }
  .hero-section-info .border-corner:nth-child(2) {
    top: -1.1077694236vw;
    right: -1.1077694236vw;
  }
  .hero-section-info .border-corner:nth-child(3) {
    bottom: -1.1077694236vw;
    left: -1.1077694236vw;
  }
  .hero-section-info .border-corner:nth-child(4) {
    bottom: -1.1077694236vw;
    right: -1.1077694236vw;
  }
  .hero-image-container {
    border: 1.1px solid rgb(73, 149, 255);
  }
  .hero-section-info :nth-child(1 of .hero-image-container) {
    width: 38.8421052632vw;
    height: 19.7293233083vw;
    top: 31.0776942356vw;
    right: 4.0100250627vw;
    z-index: 2;
  }
  .hero-section-info :nth-child(1 of .hero-image-container) img {
    width: 38.8421052632vw;
    height: 19.7293233083vw;
  }
  .hero-section-info :nth-child(2 of .hero-image-container) {
    width: 45.5388471178vw;
    height: 25.9147869674vw;
    top: 57.3934837093vw;
    left: 4.0100250627vw;
    z-index: 4;
  }
  .hero-section-info :nth-child(2 of .hero-image-container) img {
    width: 45.5388471178vw;
    height: 25.9147869674vw;
  }
  .hero-section-info .target-graphic {
    top: 85.2130325815vw;
    right: 4.0100250627vw;
    width: 20.2857142857vw;
    height: 20.2857142857vw;
    z-index: 4;
  }
  .hero-section-container .extra-space {
    width: 100%;
    height: 38.06px;
  }
  .services-section-cta {
    display: flex;
    flex-flow: column nowrap;
    /*temporary property*/
    margin-top: 32px;
    margin-bottom: 64px;
    align-items: center;
  }
  .services-section-cta h2 {
    font-family: "Inter";
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-color);
  }
  .services-section-cta p {
    margin: 20px 16px 15px 16px;
    font-family: "Inter";
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--main-color-deemphasize);
    text-align: center;
    max-width: 361px;
  }
  .services-section-cta .cta-button,
  .closing-section-container .cta-button {
    font-size: 1.12rem;
    width: 13.2rem;
    height: 3.17rem;
    border-radius: 1.87rem;
    border-width: 0;
  }
  .service-container {
    margin-left: 16px;
    margin-right: 16px;
    display: grid;
    grid-template-columns: 1fr 5.93fr;
    column-gap: 32px;
    row-gap: 23px;
  }
  .services-section-info {
    max-width: 355px;
    margin: 0 auto;
  }
  .service-container:not(:last-child) {
    margin-bottom: 80px;
  }
  .service-container img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 2.5rem;
  }
  .service-container h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    font-family: "Inter";
    font-size: 1.69rem;
    font-weight: 600;
    color: var(--main-color);
    line-height: 2.04rem;
  }
  .service-container p {
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color-deemphasize);
    line-height: 1.2rem;
  }
  .services-section-info-images-wrapper {
    display: contents;
  }
  /*could use some refining later*/
  .services-section-images {
    overflow-x: clip;
    position: relative;
    height: 150.3759398496vw;
  }
  .services-section-cloud-1 {
    width: 56.3909774436vw;
    height: 33.1328320802vw;
    position: absolute;
    top: 1.7543859649vw;
    left: 62.1553884712vw;
    z-index: 2;
  }
  .services-section-cloud-2 {
    width: 57.8947368421vw;
    height: 38.0952380952vw;
    transform: scale(-1, 1);
    position: absolute;
    top: 109.5238095238vw;
    left: -19.5488721805vw;
    z-index: 2;
  }
  .services-image-wrapper {
    position: relative;
    top: 25.313283208vw;
    margin: 0 auto;
    width: 81.3984962406vw;
    height: 91.4786967419vw;
  }
  :nth-child(1 of .services-image) {
    width: 60.4761904762vw;
    height: 78.649122807vw;
    background-image: linear-gradient(149.54deg, #C9DCF2 0%, #BED5EF 99.32%);
    border-radius: 3.0551378446vw;
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  :nth-child(2 of .services-image) {
    width: 62.6140350877vw;
    height: 48.1052631579vw;
    border-radius: 3.0551378446vw;
    background-color: rgb(174, 197, 224);
    position: absolute;
    top: 43.35839599vw;
    left: 18.7969924812vw;
  }
  .intro-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 63px;
  }
  .intro-container .subheader {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.51rem;
    color: rgb(73, 149, 255);
  }
  .intro-container h2 {
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.03rem;
    color: var(--main-color);
    margin-bottom: 31px;
    text-align: center;
  }
  .intro-container p {
    font-family: Inter;
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 1.68rem;
    text-align: center;
    color: var(--main-color-deemphasize);
    margin-left: 18px;
    margin-right: 18px;
    max-width: 363px;
  }
  .features-section-container {
    margin-bottom: 64px;
  }
  .feature-container-wrapper {
    display: contents;
  }
  .feature-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 18px;
  }
  .feature-container:not(:last-child) {
    margin-bottom: 60px;
  }
  .feature-container .feature-image {
    width: 12.73rem;
    height: 6.8rem;
    border-radius: 1.14rem;
    background-color: rgb(196, 217, 241);
  }
  .feature-container h3 {
    font-family: Inter;
    font-size: 1.54rem;
    font-weight: 600;
    line-height: 1.87rem;
    text-align: center;
    color: var(--main-color);
    margin: 29.04px 0;
  }
  .feature-container p {
    font-family: Inter;
    font-size: 0.97rem;
    font-weight: 400;
    line-height: 1.17rem;
    color: var(--main-color-deemphasize);
    text-align: center;
    margin-bottom: 27px;
    max-width: 361px;
  }
  .feature-container .feature-number {
    display: none;
  }
  .testimonial-section-outer-wrapper {
    background-color: rgb(229, 241, 255);
  }
  .testimonials-section-container {
    padding-top: 46px;
    padding-bottom: 45.2px;
    position: relative;
  }
  .testimonial-section-cloud-3 {
    width: clamp(167.62px, 52.38vw, 251.42px);
    position: absolute;
    /*the change in parent height isn't proportional to viewport width changes, as such vw isn't used to calculate how a cloud is displaced.*/
    top: 93.76%;
    right: 64.91vw;
  }
  .testimonials-section-container .intro-container h2 {
    width: 300px;
  }
  .testimonial-carousel-container {
    display: flex;
    overflow-x: auto;
    gap: 4.01vw;
    padding: 0 7.52vw;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .testimonial-carousel-container {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE/Edge [4, 11] */
  }
  .testimonial-carousel-container::-webkit-scrollbar {
    /* For Chrome, Safari, Opera [3, 5, 11] */
    display: none;
  }
  .testimonial {
    font-family: "Inter";
    min-width: 83.46vw;
    padding: 10.03vw 7.52vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 20px;
    column-gap: 5.1vw;
    background-color: rgb(201, 220, 242);
    overflow-y: auto;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  .testimonial img {
    border-radius: 50%;
  }
  .testimonial .customer-name {
    color: var(--main-color);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.51rem;
  }
  .testimonial .customer-position {
    color: rgba(16, 46, 70, 0.5);
    font-weight: 600;
    line-height: 1.51em;
  }
  .testimonial p {
    grid-column: 1/3;
    color: var(--main-color-deemphasize);
    font-size: 1rem;
    line-height: 1.7rem;
  }
  .carousel-circle-wrapper {
    display: flex;
    margin: 8px auto 0 auto;
    width: fit-content;
    gap: 0.75rem;
  }
  .carousel-circle {
    width: 2.95vw;
    height: 2.95vw;
    border-radius: 50%;
    cursor: pointer;
  }
  .carousel-circle.not-selected {
    background-color: var(--carousel-circle-not-selected);
  }
  .carousel-circle.selected {
    background-color: var(--carousel-circle-selected);
  }
  .closing-section-container {
    max-width: 355px;
    margin: 0 auto 119.71px auto;
  }
  .closing-image-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 144px;
    margin-bottom: 90.82px;
  }
  .closing-image {
    width: clamp(75.23px, 23.5vw, 93.8px);
    height: clamp(107.15px, 33.48vw, 133.6px);
    background-color: rgb(217, 234, 255);
    border-radius: clamp(7.1px, 2.22vw, 8.85px);
  }
  :nth-child(1 of .closing-image),
  :nth-child(3 of .closing-image) {
    position: relative;
    top: clamp(27.46px, 8.58vw, 34.24px);
  }
  :nth-child(1 of .closing-image) {
    transform: rotate(168deg);
  }
  :nth-child(2 of .closing-image) {
    margin: 0 18px;
  }
  :nth-child(3 of .closing-image) {
    transform: rotate(12deg);
  }
  .closing-section-container h2 {
    font-family: "Inter";
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.03rem;
    text-align: center;
    margin-bottom: 19px;
  }
  .closing-section-container p {
    font-family: "Inter";
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 1.69rem;
    text-align: center;
    color: var(--main-color-deemphasize);
    margin-bottom: 40px;
  }
  .closing-section-container .cta-button {
    display: block;
    margin: 0 auto 12.85px auto;
    cursor: pointer;
  }
  /*Styling the small bit of text that follows the last CTA button*/
  .closing-section-container .cta-button + div {
    font-family: "Inter";
    color: rgba(16, 46, 70, 0.7);
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .closing-section-container .cta-button + div a {
    color: rgb(73, 149, 255);
    text-decoration: underline;
  }
  .closing-section-cloud-3 {
    width: clamp(164.37px, 51.37vw, 204.95px);
    transform: rotate(10.31deg) scale(-1, 1);
    position: absolute;
    top: -25px;
    left: 261px;
  }
}
@media (480px <= width) {
  .hero-section-container {
    height: fit-content;
    margin-bottom: 0;
  }
  .hero-section-cta h1 {
    font-size: 10.79vw;
    line-height: 13.06vw;
  }
  .hero-section-cta p {
    font-size: 1.25rem;
    line-height: 1.87rem;
    margin: 32px 0;
  }
  .hero-section-cta .cta-button {
    width: 15.13rem;
    height: 3.19rem;
    font-size: 1.12rem;
  }
  .hero-section-info {
    margin-top: 0;
    height: 110.3117505995vw;
  }
  /*The text boxes needed to be adjusted before the clouds*/
  .hero-section-info :nth-child(1 of .hero-text-container) {
    font-size: 3.3129496403vw;
    line-height: 4.0047961631vw;
  }
  .hero-text-container {
    padding: 1.1091127098vw;
    border-width: 1.73px;
  }
  .hero-section-info :nth-child(1 of .hero-text-container) {
    top: 11.4712230216vw;
    right: 5.5659472422vw;
  }
  .hero-section-info :nth-child(2 of .hero-text-container) {
    top: 25.1079136691vw;
    left: 10.9772182254vw;
  }
  .hero-section-info :nth-child(3 of .hero-text-container) {
    top: 51.3285371703vw;
    right: 13.6834532374vw;
  }
  .hero-section-info :nth-child(2 of .hero-text-container),
  .hero-section-info :nth-child(3 of .hero-text-container),
  .hero-section-info :nth-child(3 of .hero-text-container) span {
    font-size: 3.5479616307vw;
    line-height: 4.293764988vw;
  }
  .hero-section-info :nth-child(3 of .hero-text-container) {
    width: 30.2158273381vw;
    height: 4.3165467626vw;
  }
  .hero-section-info .border-corner {
    width: 1.654676259vw;
    height: 1.654676259vw;
  }
  .hero-section-info .border-corner:nth-child(1) {
    top: -0.8273381295vw;
    left: -0.8273381295vw;
  }
  .hero-section-info .border-corner:nth-child(2) {
    top: -0.8273381295vw;
    right: -0.8273381295vw;
  }
  .hero-section-info .border-corner:nth-child(3) {
    bottom: -0.8273381295vw;
    left: -0.8273381295vw;
  }
  .hero-section-info .border-corner:nth-child(4) {
    bottom: -0.8273381295vw;
    right: -0.8273381295vw;
  }
  .hero-image-container {
    border-width: 1.26px;
  }
  .hero-section-info :nth-child(1 of .hero-image-container),
  .hero-section-info :nth-child(1 of .hero-image-container) img {
    width: 33.2661870504vw;
    height: 16.8980815348vw;
  }
  .hero-section-info :nth-child(2 of .hero-image-container),
  .hero-section-info :nth-child(2 of .hero-image-container) img {
    width: 39.0023980815vw;
    height: 22.1846522782vw;
  }
  .hero-section-info :nth-child(1 of .hero-image-container) {
    top: 24.6223021583vw;
    right: 4.5947242206vw;
  }
  .hero-section-info :nth-child(2 of .hero-image-container) {
    top: 41.2529976019vw;
    left: 6.2098321343vw;
  }
  .hero-section-info .target-graphic {
    width: 14.4112709832vw;
    height: 14.4112709832vw;
    top: 58.9760191847vw;
    right: 13.6342925659vw;
  }
  .hero-section-cloud-3 {
    width: 103.8369304556vw;
    left: 5.9916067146vw;
    top: -6vw;
  }
  .hero-section-cloud-1 {
    width: 76.2vw;
    height: auto;
    top: 29.4vw;
    left: 20.5vw;
  }
  .hero-section-cloud-2-1 {
    display: block;
    position: absolute;
    width: 47.8417266187vw;
    top: 3.1175059952vw;
    right: 66.7362110312vw;
  }
  .hero-section-cloud-2 {
    width: 49.8800959233vw;
    height: auto;
    top: 71.9424460432vw;
    left: -21.2230215827vw;
  }
  .hero-section-container .extra-space {
    width: 100%;
    height: 50px;
  }
  .services-section-cta {
    margin-top: 0;
  }
  .services-section-cta h2 {
    font-size: 3rem;
  }
  .services-section-cta p {
    max-width: 774px;
    margin: 20px 30px;
  }
  .services-section-info {
    max-width: 415px;
  }
  .services-section-images {
    height: 92.206235012vw;
  }
  .services-section-cloud-1 {
    width: 37.4700239808vw;
    height: 24.8800959233vw;
    left: 76.8vw;
    top: -9vw;
  }
  .services-image-wrapper {
    width: 63.9088729017vw;
    height: 71.8225419664vw;
    top: 5.9952038369vw;
  }
  :nth-child(1 of .services-image) {
    width: 47.4820143885vw;
    height: 61.7505995204vw;
  }
  :nth-child(2 of .services-image) {
    width: 49.1606714628vw;
    height: 37.7697841727vw;
    top: 34.0527577938vw;
    left: 14.7482014388vw;
  }
  .services-section-cloud-2 {
    display: none;
  }
  .intro-container .subheader {
    font-size: 1.56rem;
    line-height: 1.89rem;
  }
  .intro-container h2 {
    font-size: 3rem;
    line-height: 3.63rem;
  }
  .intro-container p {
    max-width: 774px;
    margin: 0 30px;
  }
  .testimonials-section-container .intro-container h2 {
    font-size: 2.81rem;
    width: auto;
    max-width: 468px;
    margin: 0 18px 16px 18px;
  }
  .testimonials-section-container .intro-container p {
    font-size: 1.25rem;
    line-height: 1.87rem;
    max-width: 663px;
    margin: 0 40px;
  }
  .testimonial-section-cloud-3 {
    width: clamp(131.61px, 41.1270983213vw, 343px);
    right: 76.9vw;
  }
  .testimonial-carousel-container {
    /*additional padding on either sides centers the first and last elements of the carousel*/
    padding: 0 21.5827338129vw;
    gap: 8.7529976019vw;
  }
  .testimonial {
    padding: 40px 30px;
    min-width: 56.5947242206vw;
  }
  .testimonial .customer-name {
    font-size: 1.37rem;
    line-height: 1.66rem;
  }
  .testimonial .customer-position {
    font-size: 1.12rem;
    line-height: 1.69rem;
  }
  .testimonial p {
    font-size: 1.12rem;
    line-height: 1.87rem;
  }
  .carousel-circle-wrapper {
    margin: 47px auto 0 auto;
  }
  .carousel-circle {
    width: 1.4148681055vw;
    height: 1.4148681055vw;
  }
  .closing-section-container {
    max-width: 774px;
  }
  .closing-image-wrapper {
    margin-bottom: 141.94px;
  }
  .closing-image {
    width: clamp(72.2px, 22.5611510791vw, 188.16px);
    height: clamp(102.85px, 32.1402877698vw, 268.05px);
    border-radius: clamp(6.81px, 2.1282973621vw, 17.75px);
  }
  :nth-child(1 of .closing-image),
  :nth-child(3 of .closing-image) {
    top: clamp(26.35px, 8.2338129496vw, 68.67px);
  }
  :nth-child(2 of .closing-image) {
    margin: 0 3.8369304556vw;
  }
  .closing-section-container h2 {
    font-size: 3rem;
    line-height: 3.63rem;
    margin: 0 24px 40px 24px;
    max-width: 727px;
  }
  .closing-section-container p {
    font-size: 1.25rem;
    line-height: 1.87rem;
    margin: 0 30px 40px 30px;
  }
  .closing-section-cloud-3 {
    width: 41.1270983213vw;
    height: auto;
    top: -14.4vw;
    left: 73.9vw;
  }
}
@media (1200px <= width) {
  .hero-section-container {
    display: flex;
    height: 47.8645833333vw;
  }
  .hero-section-cta {
    width: 41.0416666667vw;
    margin: 0 0 0 5.46875vw;
  }
  .hero-section-cta h1,
  .hero-section-cta h1 span {
    font-size: min(5vw, 96px);
    line-height: min(6.0510416667vw, 116.18px);
  }
  .hero-section-cta h1 {
    width: 41.0416666667vw;
  }
  .hero-section-cta p {
    width: auto;
  }
  .hero-section-info {
    min-width: 54.6354166667vw;
    /*the html element hides the overflow outside of the entire page on the x-axis.*/
    /*This means that .hero-section-info can overflow outside of its borders, 
    without overflowing outside of the page itself.*/
    overflow-x: visible;
    height: auto;
  }
  .hero-text-container,
  .hero-image-container {
    border-width: 1.87px;
  }
  .hero-text-container {
    padding: 0.4864583333vw;
  }
  .hero-section-info :nth-child(1 of .hero-text-container) {
    font-size: 1.55625vw;
    line-height: 1.8833333333vw;
  }
  .hero-section-info :nth-child(2 of .hero-text-container),
  .hero-section-info :nth-child(3 of .hero-text-container),
  .hero-section-info :nth-child(3 of .hero-text-container) span {
    font-size: 1.6666666667vw;
    line-height: 2.0171875vw;
  }
  .hero-section-info :nth-child(3 of .hero-text-container) {
    width: 14.21875vw;
    height: 2.03125vw;
  }
  .hero-section-info :nth-child(1 of .hero-text-container) {
    right: 4.1vw;
    /*The top of .hero-section-info is offest by 152 from the top, and overflows out of its own box that much*/
    top: -2.5276041667vw;
  }
  .hero-section-info :nth-child(2 of .hero-text-container) {
    top: 3.6458333333vw;
    left: 9.0625vw;
  }
  .hero-section-info :nth-child(3 of .hero-text-container) {
    top: 16.1979166667vw;
    right: 7.1875vw;
  }
  .hero-section-info .border-corner {
    width: 0.7760416667vw;
    height: 0.7760416667vw;
  }
  .hero-section-info .border-corner:nth-child(1) {
    top: -0.3880208333vw;
    left: -0.3880208333vw;
  }
  .hero-section-info .border-corner:nth-child(2) {
    top: -0.3880208333vw;
    right: -0.3880208333vw;
  }
  .hero-section-info .border-corner:nth-child(3) {
    bottom: -0.3880208333vw;
    left: -0.3880208333vw;
  }
  .hero-section-info .border-corner:nth-child(4) {
    bottom: -0.3880208333vw;
    right: -0.3880208333vw;
  }
  .hero-section-info :nth-child(1 of .hero-image-container),
  .hero-section-info :nth-child(1 of .hero-image-container) img {
    width: 14.6vw;
    height: 7.9390625vw;
  }
  .hero-section-info :nth-child(2 of .hero-image-container),
  .hero-section-info :nth-child(2 of .hero-image-container) img {
    width: 19.5979166667vw;
    height: 11.1390625vw;
  }
  .hero-section-info :nth-child(1 of .hero-image-container) {
    top: 3.6510416667vw;
    right: 2.940625vw;
  }
  .hero-section-info :nth-child(2 of .hero-image-container) {
    top: 9.53125vw;
    left: 7.8125vw;
  }
  .hero-section-info .target-graphic {
    width: 6.7708333333vw;
    height: 6.7708333333vw;
    top: 19.1145833333vw;
    right: 7.1875vw;
  }
  .hero-section-cloud-3 {
    width: 48.8020833333vw;
    top: -10.9895833333vw;
    left: 9vw;
  }
  .hero-section-cloud-1 {
    width: 33.5vw;
    top: 5.9vw;
    left: 17.5vw;
  }
  .hero-section-cloud-2-1 {
    width: 22.5vw;
    top: -6.2vw;
    right: 32.1354166667vw;
  }
  .hero-section-cloud-2 {
    width: 34.3229166667vw;
    top: 27.4479166667vw;
    left: revert;
    right: 80.1963541667vw;
  }
  .extra-space {
    display: none;
  }
  .intro-container p {
    max-width: 980px;
  }
  .services-section-container {
    max-width: 1920px;
    margin: 0 auto 250px auto;
    position: relative;
  }
  :nth-child(2 of .services-cloud-anchor) {
    order: 3;
  }
  .services-section-cta h2 {
    line-height: 3.63rem;
  }
  .services-section-cta p {
    max-width: 980px;
    margin: 18px auto;
  }
  .services-section-info-images-wrapper {
    display: flex;
    justify-content: center;
    gap: 6.6666666667vw;
    margin-top: 42px;
  }
  .services-section-info {
    max-width: 24.8rem;
    margin: 0;
    flex-shrink: 0;
    order: 1;
  }
  .service-container {
    row-gap: 2.19rem;
  }
  .service-container p {
    font-size: 1.06rem;
  }
  .service-container:not(:last-child) {
    margin-bottom: 4.25rem;
  }
  /*In Desktop view, the service images need to line up with text, as such they should be sized with the rem unit*/
  .services-section-images {
    height: 37.44rem;
    order: 0;
  }
  .services-image-wrapper {
    width: 33.31rem;
    height: 37.44rem;
    top: 0;
  }
  :nth-child(1 of .services-image) {
    width: 24.75rem;
    height: 32.19rem;
    border-radius: 1.25rem;
  }
  :nth-child(2 of .services-image) {
    width: 25.63rem;
    height: 19.69rem;
    border-radius: 1.25rem;
    top: 17.75rem;
    left: 7.69rem;
  }
  .features-section-container {
    max-width: 1920px;
    position: relative;
    margin: 0 auto 250px auto;
  }
  .features-section-container .intro-container {
    margin-bottom: 90px;
  }
  .feature-container-wrapper {
    display: flex;
    justify-content: center;
    gap: 6.3541666667vw;
    /*for screens of smaller width such as 1200px*/
    margin: 0 48px;
  }
  .feature-container {
    margin: 0;
    gap: 32px;
  }
  .feature-container:not(:last-child) {
    margin-bottom: 0;
  }
  .feature-container h3 {
    font-size: 1.69rem;
    margin: 0;
  }
  .feature-container p {
    font-size: 1.06rem;
    margin-bottom: 0;
    max-width: 23.5rem;
  }
  .testimonials-section-container {
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 73px;
  }
  .testimonials-section-container .intro-container h2 {
    font-size: 3rem;
    max-width: 500px;
    margin: 9px 0 31px 0;
  }
  .testimonials-section-container .intro-container p {
    max-width: 63.56rem;
    font-size: 1.25rem;
    margin: 0;
  }
  .feature-container .feature-number {
    display: block;
    font-family: "Inter";
    font-weight: 900;
    font-size: 6.25rem;
    color: rgb(197, 217, 241);
  }
  .testimonial-carousel-container {
    display: grid;
    grid-template-columns: max-content max-content;
    overflow-x: revert;
    scroll-snap-type: revert;
    row-gap: 48px;
    column-gap: 73px;
    padding: 0;
    width: fit-content;
    margin: 0 auto;
  }
  .testimonial {
    min-width: 0;
    max-width: 29.5rem;
    padding: 2.5rem 1.87rem;
    column-gap: 1.62rem;
  }
  .carousel-circle-wrapper {
    display: none;
  }
  .closing-section-container {
    position: relative;
    max-width: 75.69rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto 250px auto;
  }
  .closing-image-wrapper {
    margin-top: 250px;
    margin-bottom: 154.85px;
  }
  .closing-image {
    /*closing images are sized to line up with text*/
    width: 13.25rem;
    height: 18.88rem;
    border-radius: 1.25rem;
  }
  .closing-section-container h2 {
    max-width: 75.69rem;
  }
  .closing-section-container p {
    max-width: 61.25rem;
  }
  /*desktop clouds*/
  /*the clouds are positioned statically and are best viewed at resolutions above 1920x1080*/
  .services-cloud-1-desktop {
    display: block;
    position: absolute;
    /*extra space on the SVG is accounted for*/
    width: 801px;
    top: 667px;
    left: 1406px;
  }
  .features-cloud-2-desktop {
    display: block;
    position: absolute;
    transform: scale(-1, 1);
    width: 492.21px;
    top: -57px;
    right: 1622.69px;
  }
  .testimonial-cloud-3-desktop {
    display: block;
    transform: scale(-1, 1);
    position: absolute;
    width: 771px;
    top: -356px;
    left: 1419px;
  }
  .testimonial-section-cloud-3 {
    width: 771px;
    top: 797px;
    right: 1441px;
  }
  .closing-section-cloud-3 {
    display: none;
  }
  .closing-cloud-2-desktop {
    position: absolute;
    transform: scale(-1, 1);
    width: 561.31px;
    top: 667px;
    left: 1082px;
  }
}

/*# sourceMappingURL=homepage.css.map */
