/*CSS resets*/
ul{
    padding: 0;
    margin: 0;
}
ol{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
p,h1,h2,h3{
    margin: 0;
}
html{
    width: 100%;
}
body{
    margin: 0;
}

:root{
    /*Colors*/
    /*Used as background and color for some text*/
    --white: rgba(242, 248, 255, 1);
    --main-color: rgba(16, 46, 70, 1);
    --main-color-deemphasize: rgba(16, 46, 70, 0.8);
    /*Applying linear-gradients as colors sometimes requires workarounds,
    because the linear-gradient CSS function returns an image.*/
    --secondary-color: linear-gradient(90deg, #3FB3FF 0%, #599EFF 100%);
}
/*Media Queries can be used instead of repeating clamp functions*/
@media (320px <= width){
    #root{
        background-color: var(--white);
        width: 100%;
        /*temporary padding*/
        padding-bottom: 120px;
    }
    nav{
        height: 153px;
        background-image: url('../assets/images/cloud-1.svg');
        background-size: 302px 204px;
        background-repeat: no-repeat;
        background-position: -51px -59px;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        padding: 51px 18px 71px 18px;
    }
    .homepage-link a{
        display: flex;
        align-items: center;
        gap: 21.96px;
    }
    .homepage-link span{
        font-family: Inter;
        font-weight: 700;
        line-height: 19.36px;
        letter-spacing: 0.1em;
        color: var(--main-color);
    }
    .hero-section-container{
        height: calc(100vw*820/399);
        margin-bottom: calc(100vw*38.06/399);
    }
    .hero-section-cta{
        width: fit-content;
        margin: 0 auto;
    }
    /*The minimum mobile screen width being targeted is 320px*/
    /*The maximum mobile screen width is 440px*/
    .hero-section-cta h1,
    .hero-section-cta h1 span{
        /*Elements from the hero banner are sized and positioned
        proportionately to the viewport as they are simply visual elements.*/
        font-size: calc(100vw*45/399);
        line-height: calc(100vw * 61.92/399);
    }

    .hero-section-cta h1{
        font-family: Inter;
        font-weight: 800;
        color: var(--main-color);
        width: calc(100vw * 370/399);
    }

    .hero-section-cta h1 span{
        font-family: Lily Script One;
        font-weight: 400;
        color: rgba(0,0,0,0);
        background-image: var(--secondary-color);
        background-clip: text;
    }

    .hero-section-cta p{
        font-family: Inter;
        color: var(--main-color-deemphasize);
        font-weight: 500;
        font-size: clamp(16px, calc(100vw*16/399), 19.25px);
        line-height: calc(100vw*24/399);
        width: calc(100vw * 361/399);
        margin: 18px 0;
    }

    .cta-button{
        border-color: rgba(0,0,0,0);
        background-image: var(--secondary-color);

        font-family: "Inter";
        font-weight: 700;
        color: var(--white);
    }

    .hero-section-cta .cta-button{
        border-radius: calc(100vw*30/399);
        width: calc(100vw*242/399);
        height: calc(100vw*51/399);
        
        font-size: calc(100vw*18/399);
    }

    .hero-section-info{
        margin-top: 32px;
        position: relative;
        height: calc(100vw*420.9/399);
        overflow-x: clip;
    }
    .hero-section-cloud-3{
        width: calc(100vw*534/399);
        top: calc(100vw*-45/399);
        left: calc(100vw*-84/399);
    }
    .hero-section-cloud-1{
        width: calc(100vw*350/399);
        height: calc(100vw*265/399);
        top: calc(100vw*164/399);
        left: calc(100vw*50/399);
        z-index: 3;
    }
    .hero-section-cloud-2{
        transform: scale(-1, 1);
        width: calc(100vw*267/399);
        height: calc(100vw*173/399);
        top: calc(100vw*330/399);
        left: calc(100vw*-117/399);
    }
    .hero-section-info *{
        position: absolute;
    }
    /*text in hero-section-info will be sized responsively,
    as the text serves more of a decorative role.*/
    .hero-text-container{
        font-family: Inter;
        color: var(--main-color);
        border: 1.1px solid rgba(73, 149, 255, 1);
        /* padding: 5.52px; */
        padding: calc(100vw*5.52/399);
    }
    .hero-section-info :nth-child(1 of .hero-text-container){
        top: calc(100vw*49/399);
        right: calc(100vw*16/399);
        font-size: calc(100vw*17.67/399);
        font-weight: 600;
        line-height: calc(100vw*21.39/399);
    }
    .hero-section-info :nth-child(2 of .hero-text-container){
        top: calc(100vw*133/399);
        left: calc(100vw*16/399);
        font-size: calc(100vw*21.4/399);
        font-weight: 600;
        line-height: calc(100vw*25.9/399);
    }
    .hero-section-info :nth-child(3 of .hero-text-container){
        /*needs to be defined due to nested span element*/
        width: calc(100vw*137.3/399);
        height: calc(100vw*19.3/399);
        top: calc(100vw*285/399);
        right: calc(100vw*16/399);
        font-size: calc(100vw*16.53/399);
        font-weight: 600;
        line-height: calc(100vw*20/399);
        z-index: 4;
    }
    .hero-section-info :nth-child(3 of .hero-text-container) span{
        margin-left: calc(100vw*4/399);
        font-size: calc(100vw*16.53/399);
        font-weight: 800;
        line-height: calc(100vw*20/399);
        background-image: var(--secondary-color);
        color: rgba(0,0,0,0);
        background-clip: text;
    }
    .hero-section-info .border-corner{
        width: calc(100vw*8.84/399);
        height: calc(100vw*8.84/399);
        background-color: rgba(142, 206, 245, 1);
        border: 0.55px solid rgba(73, 149, 255, 1);
        position: absolute;
        z-index: 2;
    }
    /*positioning the .border-corner elements*/
    /*The .broder-corner sides are 8.84px.
    8.84px/2 = 4.42px*/
    .hero-section-info .border-corner:nth-child(1){
        top: calc(100vw*-4.42/399);
        left: calc(100vw*-4.42/399);
    }
    .hero-section-info .border-corner:nth-child(2){
        top: calc(100vw*-4.42/399);
        right: calc(100vw*-4.42/399);
    }
    .hero-section-info .border-corner:nth-child(3){
        bottom: calc(100vw*-4.42/399);
        left: calc(100vw*-4.42/399);
    }
    .hero-section-info .border-corner:nth-child(4){
        bottom: calc(100vw*-4.42/399);
        right: calc(100vw*-4.42/399);
    }
    .hero-image-container{
        border: 1.1px solid rgba(73, 149, 255, 1);
    }
    .hero-section-info :nth-child(1 of .hero-image-container){
        width: calc(100vw*160.63/399);
        height: calc(100vw*83.67/399);
        top: calc(100vw*124/399);
        right: calc(100vw*16/399);
    }
    .hero-section-info :nth-child(1 of .hero-image-container) img{
        width: calc(100vw*160.63/399);
        height: calc(100vw*83.67/399);
    }
    .hero-section-info :nth-child(2 of .hero-image-container){
        width: calc(100vw*181.7/399);
        height: calc(100vw*103.4/399);
        top: calc(100vw*229/399);
        left: calc(100vw*16/399);
        z-index: 4;
    }
    .hero-section-info :nth-child(2 of .hero-image-container) img{
        width: calc(100vw*181.7/399);
        height: calc(100vw*103.4/399);
    }
    .hero-section-info .target-graphic{
        top: 340px;
        top: calc(100vw*340/399);
        right: calc(100vw*16/399);
        width: calc(100vw*80.94/399);
        height: calc(100vw*80.94/399);
        z-index: 4;
    }

    .services-section-cta{
        display: flex;
        flex-flow: column nowrap;
        /*temporary property*/ margin-top: 32px; 
        margin-bottom: 64px;
        align-items: center;
    }

    .services-section-cta h2{
        font-family: "Inter";
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--main-color);
    }
    .services-section-cta p{
        margin: 20px 16px 15px 16px;
        font-family: "Inter";
        font-size: 1.12rem;
        font-weight: 500;
        color: var(--main-color-deemphasize);
        text-align: center;
        max-width: 361px;
    }
    .services-section-cta .cta-button{
        font-size: 1.12rem;
        width: 13.2rem;
        height: 3.17rem;
        border-radius: 1.87rem;
        border-width: 0;
    }

    .services-section-info{
        max-width: 355px;
        margin: 0 auto;
    }
    .service-container{
        margin-left: 16px;
        margin-right: 16px;
        display: grid;
        grid-template-columns: 1fr 5.93fr;
        column-gap: 32px;
        row-gap: 23px;
    }
    .service-container:not(:last-child){
        margin-bottom: 80px;
    }
    .service-container img{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .service-container h3{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;

        font-family: "Inter";
        font-size: 1.69rem;
        font-weight: 600;
        color: var(--main-color);
        line-height: 2.04rem;
    }
    .service-container p{
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        font-family: "Inter";
        font-size: 1rem;
        font-weight: 500;
        color: var(--main-color-deemphasize);
        line-height: 1.2rem;
    }

    /*could use some refining later*/
    .services-section-images{
        overflow-x: clip;
        position: relative;
        height: calc(100vw*600/399);
    }
    .services-section-cloud-1{
        width: calc(100vw*225/399);
        height: calc(100vw*132.2/399);
        
        position: absolute;
        top: calc(100vw*7/399);
        left: calc(100vw*248/399);
        z-index: 2;
    }
    .services-section-cloud-2{
        width: calc(100vw*231/399);
        height: calc(100vw*152/399);
        transform: scale(-1, 1);
        position: absolute;
        top: calc(100vw*437/399);
        left: calc(100vw*-78/399);
        z-index: 2;
    }
    .services-image-wrapper{
        position: relative;
        top: calc(100vw*101/399);
        margin: 0 auto;
        width: calc(100vw*324.78/399);
        height: calc(100vw*365/399);
    }
    :nth-child(1 of .services-image){
        width: calc(100vw*241.3/399);
        height: calc(100vw*313.81/399);
        background-image: linear-gradient(149.54deg, #C9DCF2 0%, #BED5EF 99.32%);
        border-radius: 12.19px;
        border-radius: calc(100vw*12.19/399);
        border-color: rgba(0,0,0,0);

        position: absolute;
        top: 0px;
        left: 0px;
    }
    :nth-child(2 of .services-image){
        width: calc(100vw*249.83/399);
        height: calc(100vw*191.94/399);
        border-radius: 12.19px;
        border-radius: calc(100vw*12.19/399);
        background-color: rgba(174, 197, 224, 1);

        position: absolute;
        top: calc(100vw*173/399);
        left: calc(100vw*75/399);
    }

    .features-intro-container{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 63px;
    }
    .features-intro-container .subheader{
        font-family: Inter;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.51rem;
        color: rgba(73, 149, 255, 1);
    }
    .features-intro-container h2{
        font-family: Inter;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.03rem;
        color: var(--main-color);
        margin-bottom: 31px;
    }
    .features-intro-container p{
        font-family: Inter;
        font-size: 1.12rem;
        font-weight: 500;
        line-height: 1.68rem;
        text-align: center;
        color: var(--main-color-deemphasize);
        margin-left: 18px;
        margin-right: 18px;
        max-width: 363px;
    }

    .feature-container{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0 18px;
    }
    .feature-container:not(:last-child){
        margin-bottom: 60px;
    }
    .feature-container .feature-image{
        width: 203.75px;
        height: 108.73px;
        border-radius: 18.27px;
        background-color: rgba(196, 217, 241, 1);
    }
    .feature-container h3{
        font-family: Inter;
        font-size: 1.54rem;
        font-weight: 600;
        line-height: 1.87rem;
        color: var(--main-color);
        
        margin: 29.04px 0;
    }
    .feature-container p{
        font-family: Inter;
        font-size: 0.97rem;
        font-weight: 400;
        line-height: 1.17rem;
        color: var(--main-color-deemphasize);

        text-align: center;
        margin-bottom: 27px;
        max-width: 361px;
    }
    .feature-container .feature-number{
        display: none;
    }
}